<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방구석 노래방</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bye.css">
</head>

<body style="overflow: hidden;">
    <div class="logo"><a href="/"><img class="floating_logo" src="src/방구석노래방로고.png"></a>
    </div>
    <div class="main">
        <div class="main_txt">
            <div main_txt_1>오늘 공연 너무 멋있어서 루피 기절 >.ㅇ</div>
            <br />
            <div main_txt_2>다음에 또 이용해주실거죠?!</div>
        </div>

        <img src="src/오아시스루피.png" alt="제작자캐릭터" draggable="false">
    </div>
    <div class="firework" id="firework1">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
    </div>
    <div class="firework" id="firework2">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
    </div>
    <div class="firework" id="firework3">
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
        <div class="explosion"></div>
    </div>

</body>

</html>