<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방구석 노래방</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
</head>

<body style="overflow: hidden;">
    <div class="main">
        <div class="main_icon">
            <img src="src/neon_dancer.png" alt="마이크 춤추는사람" class="neon_dance" height="150px" width="150px">
            <img src="src/neon_mic.png" alt="마이크 네온사인" class="neon_mic" height="150px" width="150px">
            <img src="src/neon_dj.png" class="neon_dj_left" height="150px" width="150px" />
            <img src="src/neon_handmic.png" class="neon_michand" height="150px" width="150px" />
            <img src="src/neon_dj.png" class="neon_dj_right" height="150px" width="150px" />
            <img src="src/neon_coupledance.png" class="neon_couple" height="150px" width="150px" />
        </div>
        <div class="main_black"></div>
        <div class="main_center">
            <img src="src/logo.png" class="logo" height="500px" width="500px" />
            <div class="blank"></div>
            <a class="startbtn" href="/room"><img src="src/btn_start.png" class="startbtn" width="280px"
                    height="120px" /></a>
        </div>

    </div>
</body>

</html>